body{
	padding : 0px;
	margin : 0px;
	overflow-x: hidden;
}
@media screen and (max-width:1920px){
#tout{
	display: flex;
	flex-direction: column;
	background-color: #E9EDF2;
}
html{
	background-color: #E9EDF2;
}
h3{
	font-size:1.25em;
	font-family: adelle-sans,"Helvetica Neue",Arial,sans-serif;
}
#decalage{
	padding-top: 50px;
}
#logo{
	margin-top: 0px;
	position: fixed;
	z-index: 3;
	padding-left:10px;
}
.un{
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	background-color: #E9EDF2;
	margin-top: -10px;
	margin-left: -8px;
	width: 100%;
}
.deux{
	display: flex;
	flex-direction: row;
}
.deuxParDeux{
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	text-align: center;
}
.deuxParDeux h3{
	color:white;
}
.deuxParDeux p{
	color:#B2B5BB;
	font-family: adelle-sans,"Helvetica Neue",Arial,sans-serif;
}
.deuxUn{
	background-color: #3B414F;
	width: 50%;
	height: 350px;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.iconeUn{
	margin-top: 4em;
}
.iconeDeux{
	margin-top: 5em;
}
.iconeTrois{
	margin-top: 2.7em;
}
.iconeQuatre{
	margin-top: 2.2em;
	margin-right: 0.5em;
}
#active{
	font-size: 1.3125em;
	font-family: freight-text-pro,Georgia,sans-serif;
}
h1{
	text-align: center;
	font-size: 2.625em;
	line-height: 1.1;
    font-weight: 300;
    font-family: adelle-sans,"Helvetica Neue",Arial,sans-serif;
}
h3{
	text-align: center;
}
.gauche{
	font-family: adelle-sans,"Helvetica Neue",Arial,sans-serif;
	line-height: 1.5;
	font-size: 1em;
	position: fixed;
	z-index: 3;
	padding-left: 200px;
	padding-top: 8px;
}

.droite{
		position: absolute;
		padding-left: 65%;
		position: fixed;
		background-color: #E9EDF2;
		padding-top: 20px;
		padding-bottom: 20px; 
		z-index: 2;
		margin-top: -10px;
		width: 100%;
}
.trois{	
	background-color: #E9EDF2;
	font-size: 22px;
	text-align: center;
}
.quatre{
	background-color: #E9EDF2;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin-top: 3em;
}
.cloud{
	text-align: center;
	padding-top: 40px;
}
.textCenter{
	text-align: center;
	margin-left: 18%;
	margin-right: 18%;
	font-size: 1.5em;
	font-family: freight-text-pro,Georgia,sans-serif;
	line-height: 1.5;
}
#plein{
	max-width: 100%;
}
.center{
	text-align: center;
}
.huhu{
	background-color: white;
	margin-left: -10px;
	margin-right: -10px;
}

.cinq{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
	margin-bottom: 5em;
	margin-right: 4em;
}
.cinqDeux{
	border-left:solid 1px grey;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.blabla{
	text-align: center;
	justify-content: center;
	margin-left: 5em;
}
.cinqUn{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5%;
}
#test{
	margin-left: 40px;
}
.six{
	background-color: #E9EDF2;
	margin-top: 5%;
}
#image{
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}
.sept {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.taptap{
	background-color: #E9EDF2;
	width:450px;
	height:auto;
	margin-left:30%;
	padding: 30px 30px 30px 30px;
	border:solid 1px black;
	border-radius: 4px;
}
.tap{
	background-color: white;
	border: solid 1px black;
	border-radius: 4px;
	padding: 5px;
	width: 98%;
}
.menuTest{
	position: absolute;
	padding-left: 92%;
	padding-top: 0px;
	visibility: hidden;
}
.bouton{
	border:solid 1px black;
	padding:6px 10px 6px 10px;
	border-radius: 0px 5px 5px 0px;
	margin-right: 80px;
}
.autreBouton{
	border:solid 1px black;
	padding:6px 10px 6px 10px;
	margin-right: -5px;
	background-color: #3093F7;
	color:white;
	border-radius: 5px 0px 0px 5px;
}
.autreBoutonDeux{
	border:solid 1px black;
	padding:6px 10px 6px 10px;
	text-align: center;
	justify-content: center;
	background-color: #3093F7;
	color:white;
	border-radius: 5px 5px 5px 5px;
	width: 250px;
	margin-left: 38%;
}
.autreBoutonTrois{
	border:solid 1px black;
	padding:6px 10px 6px 10px;
	text-align: center;
	justify-content: center;
	background-color: #3093F7;
	color:white;
	border-radius: 5px 5px 5px 5px;
	width: 130px;
	margin-left: 2em;
}
.bibi{
	border:solid 1px black;
	padding:6px 10px 6px 10px;
	margin-right: -5px;
	background-color: #3093F7;
	color:white;
	border-radius: 5px 0px 0px 5px;
	margin-top: 40px;
	text-align: center;
}
.bibiDeux{
	background-color: #3093F7;
	color:white;
	text-align: center;
	border:none;
	box-shadow: none;
	text-decoration: none;
	cursor: pointer;
}
.centre{
	text-align: center;
}
.sept{
	display: flex;
	flex-direction: column;

}
.septUn{
	display: flex;
	flex-direction: row;
	/*width: 1276px;*/
	height: 450px;
	background-color: #3F4655;
	margin-top: 125px;
	color:white;
	padding-top: 25px;
	padding-left: 10%;
	padding-right: 10%;
}
.septDeux{
	background-color: #3F4655;
	justify-content: center;
	padding-left: 40%;
	padding-right: 30%;
	margin-top: -170px;
}
.espace{
	padding-left: 6px;
	padding-right: 6px;
	color:grey;
}
ul{
	list-style: none;
}
li{
	margin-top: 7px;
	margin-bottom: 7px;
}
.gris{
	color:grey;
}
.grise{
	color:grey;
	justify-content: center;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}
}
@media screen and (max-width:1130px){
	.droite{
		padding-left: 60%;
	}
	.taptap{
		margin-left: 23%;
	}
}

@media screen and (max-width:960px){
	.deux{
		display: flex;
		flex-direction: column;
	}

	.deuxParDeux{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.deuxUn{
		width: 50%;
		background-color: #3B414F;
	}
	.un{
		visibility: hidden;
	}
	.menuTest{
		visibility: visible;
	}
}
@media screen and (max-width:510px){
	.deux{
		display: flex;
		flex-direction: column;
	}
	.deuxParDeux{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.deuxUn{
	background-color: #3B414F;
	width:100%;
}
	.un{
		visibility: hidden;
	}
	.cinq{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
}